<!DOCTYPE html>
<html lang="en">
	<head>
<%- include('../partials/meta'); %>
	</head>
	<body>

<%- include('../partials/loader'); %>

		<!--
			Hi there!
			If you're reading this, you probably inspect element or console or view-source.
			Anyways, I created this early in the morning on the 7th of June, hoping to be the first one out there to do this.
			Well, I woke up to a notice another website was doing it but a lot of misinformation was being spread on the site (which has been resolved for a while!).
			My goal is to gather all community data and compile it onto a viewable page like this.
			Everything is manual. Please have respect.

			Thanks for visiting and thanks to all the community members helping feed me data so I can place it here!
			You all mean a lot <3.
			
			~ Matthew (@thecodingguy)
			June 9th, 2023 2:38 AM Eastern Time (GMT-4)
			nya
		-->

<%- include('../partials/header'); %>
<%- include('../partials/alerts'); %>

		<!-- MAIN -->
		<div class="main">

			<!-- REFRESH -->
			<section class="refresh" id="refresh">
				<p id="lastChecked">Initializing...</p>
				<button id="refreshButton" class="button">Refresh now</button>
			</section>

			<!-- STATUS -->
			<section class="status" id="status">
				<h2>Rollout Status</h2>
				<p id="header">This applies up to the dates listed:</p>
			</section>

			<!-- TIMELINE -->
			<section class="timeline" id="timeline">
				<div id="timeline-header">
					<h3>Timeline</h3>
				</div>
			</section>

			<!-- FAQ -->
			<section class="faq" id="faq">
				<h3>FAQ</h3>
			</section>

			<!-- FOOTNOTES -->
			<section class="footnotes" id="footnotes">
				<h3>Footnotes</h3>
			</section>
		</div>

<%- include('../partials/footer'); %>

<%- include('../partials/scripts'); %>

	</body>
</html>